-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "CampRole" AS ENUM ('ADMIN', 'CUSTOMER');

-- CreateEnum
CREATE TYPE "CampEquipmentCondition" AS ENUM ('NEW', 'GOOD', 'FAIR', 'POOR');

-- CreateEnum
CREATE TYPE "CampEquipmentStatus" AS ENUM ('AVAILABLE', 'RENTED', 'MAINTENANCE', 'UNAVAILABLE');

-- CreateEnum
CREATE TYPE "CampRentalStatus" AS ENUM ('PENDING', 'APPROVED', 'ON_GOING', 'COMPLETED', 'CANCELLED', 'REJECTED');

-- CreateEnum
CREATE TYPE "CampPaymentStatus" AS ENUM ('UNPAID', 'VERIFYING', 'PAID', 'FAILED');

-- CreateEnum
CREATE TYPE "CampPaymentMethod" AS ENUM ('TRANSFER_BANK', 'E_WALLET', 'CASH');

-- CreateEnum
CREATE TYPE "CampNotificationType" AS ENUM ('INFO', 'WARNING', 'SUCCESS', 'ERROR');

-- CreateTable
CREATE TABLE "camp_users" (
    "id" TEXT NOT NULL,
    "fullname" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "avatar" TEXT,
    "password" TEXT NOT NULL,
    "role" "CampRole" NOT NULL DEFAULT 'CUSTOMER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "camp_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_categories" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "icon" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "camp_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_equipment" (
    "id" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "brand" TEXT,
    "condition" "CampEquipmentCondition" NOT NULL DEFAULT 'GOOD',
    "stock" INTEGER NOT NULL DEFAULT 0,
    "pricePerDay" DOUBLE PRECISION NOT NULL,
    "deposit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "location" TEXT,
    "image" TEXT,
    "status" "CampEquipmentStatus" NOT NULL DEFAULT 'AVAILABLE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "camp_equipment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_equipment_images" (
    "id" TEXT NOT NULL,
    "equipmentId" TEXT NOT NULL,
    "image" TEXT NOT NULL,

    CONSTRAINT "camp_equipment_images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_rentals" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "bookingCode" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "totalDay" INTEGER NOT NULL,
    "subtotal" DOUBLE PRECISION NOT NULL,
    "deposit" DOUBLE PRECISION NOT NULL,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalPrice" DOUBLE PRECISION NOT NULL,
    "status" "CampRentalStatus" NOT NULL DEFAULT 'PENDING',
    "paymentStatus" "CampPaymentStatus" NOT NULL DEFAULT 'UNPAID',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "camp_rentals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_rental_items" (
    "id" TEXT NOT NULL,
    "rentalId" TEXT NOT NULL,
    "equipmentId" TEXT NOT NULL,
    "qty" INTEGER NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "subtotal" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "camp_rental_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_payments" (
    "id" TEXT NOT NULL,
    "rentalId" TEXT NOT NULL,
    "paymentMethod" "CampPaymentMethod",
    "paymentProof" TEXT,
    "amount" DOUBLE PRECISION NOT NULL,
    "status" "CampPaymentStatus" NOT NULL DEFAULT 'VERIFYING',
    "paidAt" TIMESTAMP(3),

    CONSTRAINT "camp_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_reviews" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "equipmentId" TEXT NOT NULL,
    "rating" INTEGER NOT NULL DEFAULT 5,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "camp_reviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_wishlist" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "equipmentId" TEXT NOT NULL,

    CONSTRAINT "camp_wishlist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "camp_notifications" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" "CampNotificationType" NOT NULL DEFAULT 'INFO',
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "camp_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "camp_users_email_key" ON "camp_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "camp_categories_name_key" ON "camp_categories"("name");

-- CreateIndex
CREATE UNIQUE INDEX "camp_equipment_slug_key" ON "camp_equipment"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "camp_rentals_bookingCode_key" ON "camp_rentals"("bookingCode");

-- CreateIndex
CREATE UNIQUE INDEX "camp_payments_rentalId_key" ON "camp_payments"("rentalId");

-- CreateIndex
CREATE UNIQUE INDEX "camp_wishlist_userId_equipmentId_key" ON "camp_wishlist"("userId", "equipmentId");

-- AddForeignKey
ALTER TABLE "camp_equipment" ADD CONSTRAINT "camp_equipment_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "camp_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_equipment_images" ADD CONSTRAINT "camp_equipment_images_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "camp_equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_rentals" ADD CONSTRAINT "camp_rentals_userId_fkey" FOREIGN KEY ("userId") REFERENCES "camp_users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_rental_items" ADD CONSTRAINT "camp_rental_items_rentalId_fkey" FOREIGN KEY ("rentalId") REFERENCES "camp_rentals"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_rental_items" ADD CONSTRAINT "camp_rental_items_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "camp_equipment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_payments" ADD CONSTRAINT "camp_payments_rentalId_fkey" FOREIGN KEY ("rentalId") REFERENCES "camp_rentals"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_reviews" ADD CONSTRAINT "camp_reviews_userId_fkey" FOREIGN KEY ("userId") REFERENCES "camp_users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_reviews" ADD CONSTRAINT "camp_reviews_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "camp_equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_wishlist" ADD CONSTRAINT "camp_wishlist_userId_fkey" FOREIGN KEY ("userId") REFERENCES "camp_users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_wishlist" ADD CONSTRAINT "camp_wishlist_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "camp_equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "camp_notifications" ADD CONSTRAINT "camp_notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "camp_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

